body{
padding:0;
margin:0;
background-color:#7FFF00;
font-family: 'Anton', sans-serif;
font-family: 'Gruppo', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Anton', sans-serif;
text-align:center;
font-size: 29px ;
	
}
a{
text-decoration:none;	
	
}
a :link{
color: #000000;
text-decoration:none;
list-style-type: none;

}

h1{
	color:#ffffff;
	text-decoration:none;
}
ul{
	 list-style-type: none;
}


